html,body{
    height: 90%;
}
a:hover{
    text-decoration: underline;
}
.typing{
    font-color:gray;
    display: none;
    font-style: italic;
    margin-left: 6px;
}
.nav-wrapper {
    background-color: #fff;
}

.nav-wrapper  ul > li > a {
    font-size: 20px;
    color:#212121;
}

.nav-wrapper  ul > li > a:hover {
    background-color: #fff;
}
.nav-wrapper > a.brand-logo{
    margin-left: 15px;
    color:#757575;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
